---
layout: feature
title: File Locking
description: GitLab's file locking feature helps you avoid merge conflicts and better manage your binary files.
canonical_path: "/solutions/file-locking/"
suppress_header: true
extra_css:
  - gitlab-feature-landing-page.css
  - features.css
---
.wrapper.gitlab-ee-page
  = partial "includes/features/gitlab-ee-nav"
  .image-title
    .color-bg
      %div
        %h1 File Locking
        %h3#ci-subt Better version control for text and binary files.
        %a.btn.cta-btn.btn-white{ href: "https://docs.gitlab.com/ee/user/project/file_lock.html" } Documentation
  .sub-wrapper
    .container

      .row.advantages
        .col-xs-12.col-md-10.col-md-offset-1
          %h2 Overview
          %ul
            %li
              File Locking helps you avoid merge conflicts and better manage your binary files.
              Lock any file or directory, make your changes, and then unlock it so another member of the team can edit it.
      %hr.divider/

      .row
        .col-md-5.col-md-offset-1.hidden-xs.hidden-sm
          .ee-feature-icon
            = icon("file-locking-icon-1")
        .col-xs-12.col-md-5
          %h2 How it works
          %ul
            %li
              File Locking is included in GitLab Enterprise Edition Premium.
            %li
              Anyone who has push access to a repository can lock a file or a directory.
            %li
              Once a file is locked, anyone else trying to push changes to it will get a pre-receive hook
              or a notification in the UI that will reject the changes.
            %li
              Teams can view and manage locks directly from the web interface of each of their projects.
            %li.documentation-link
              %a{href: "https://docs.gitlab.com/ee/user/project/file_lock.html", target: "_blank"} Explore Documentation
      %hr.divider/

      .row
        .col-xs-12.col-md-6.col-md-offset-1
          %h2 Features
          %ul
            %li
              %b Pre-receive hooks:
              Pre-receive hooks block everyone except the author of the file lock from pushing changes to that file.
            %li
              %b Permission-based:
              File locking leverages your project permissions to determine who can lock and unlock files.
            %li
              %b Merge conflict resolution:
              If you choose not to lock a file and end up with a merge conflict you can easily resolve the conflict from
              the UI. Preview both versions and select choose the one you want to maintain.

        .hidden-xs.hidden-sm.col-md-4
          = image_tag "/images/logo.png", class: "gitlab-raccoon-dog-image hidden-xs", alt: "Gitlab logo png"
      %hr.divider/

      .row
        .col-md-4.col-md-offset-1.hidden-xs.hidden-sm
          .ee-feature-icon
            = icon("file-locking-icon-2")
        .col-xs-12.col-md-6
          %h2 Benefits
          %ul
            %li
              %b Visibility:
              Locked files help your team understand who is working on the file. In the UI you’ll see who locked the file
              and when it was locked.
            %li
              %b Collaboration:
              Reduce the number of merge conflicts caused by two or more developers working on a file at the same time.
            %li
              %b Streamline:
              With Git LFS support and File Locking your team can effectively store and manage their media assets, such
              as images, PSDs, 3D models, etc. within the repository.
      %hr.divider/
